* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

p,
a {
  color: white;
}

/*--------------------*/

@font-face {
	font-family: 'Mariupol';
	src: url('../fonts/Mariupol/Mariupol-Bold.eot');
	src: local('☺'), url('../fonts/Mariupol/Mariupol-Bold.woff') format('woff'), url('../fonts/Mariupol/Mariupol-Bold.ttf') format('truetype'), url('../fonts/Mariupol/Mariupol-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Mariupol';
	src: url('../fonts/Mariupol/Mariupol-Medium.eot');
	src: local('☺'), url('../fonts/Mariupol/Mariupol-Medium.woff') format('woff'), url('../fonts/Mariupol/Mariupol-Medium.ttf') format('truetype'), url('../fonts/Mariupol/Mariupol-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Mariupol';
	src: url('../fonts/Mariupol/Mariupol-Regular.eot');
	src: local('☺'), url('../fonts/Mariupol/Mariupol-Regular.woff') format('woff'), url('../fonts/Mariupol/Mariupol-Regular.ttf') format('truetype'), url('../fonts/Mariupol/Mariupol-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-SemiBold.eot');
  src: local('../fonts/Gilroy/Gilroy SemiBold'), local('Gilroy-SemiBold'),
      url('../fonts/Gilroy/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gilroy/Gilroy-SemiBold.woff') format('woff'),
      url('../fonts/Gilroy/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-Bold.eot');
  src: local('../fonts/Gilroy/Gilroy Bold'), local('Gilroy-Bold'),
      url('../fonts/Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gilroy/Gilroy-Bold.woff') format('woff'),
      url('../fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-Medium.eot');
  src: local('../fonts/Gilroy/Gilroy Medium'), local('Gilroy-Medium'),
      url('../fonts/Gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gilroy/Gilroy-Medium.woff') format('woff'),
      url('../fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

